.gallery {
    
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-999;
}

.display {        
    height: 100%;
    display: block;
    margin: auto;
}   

#navbox {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 400px;
    height: 200px;

    color: white;
    border: 2px solid white; 
    background-color: black;
    opacity: 0.5;
  }

.nav-header, .nav-body {
      overflow: auto;
}

.nav-header .title {
    display: block;
    float: left;
    padding-left: 10px;
}

.nav-header .image-count {
    display: block;
    float: right;
    padding-right: 10px;
}

ul, li {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.img-link {
    width: 20px;
    height: 25px;
    margin: 10px;

    float: left;
    text-align: center;

    cursor: default;
    list-style: none;
}

.img-link:hover {
    background-color: grey;
}

#minimize-nav {
    width: 20px;
    height: 20px;
    border: 1px solid white;

    position: absolute;
    right: 0;
    top: 0;

    text-align: center;
}

#minimize-nav:hover {
    background-color: grey;
}

#maximize-nav {
    width: 20px;
    height: 20px;
    color: white;
    border: 1px solid white;

    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    cursor: default;

    text-align: center;
}

#maximize-nav:hover {
    background-color: grey;
}
